
*.xcuserstate

*.xcbkptlist

*.xcworkspacedata

views-and-modifiers/views-and-modifiers.xcodeproj/xcuserdata/gabs.xcuserdatad/xcschemes/xcschememanagement.plist

views-and-modifiers/views-and-modifiers.xcodeproj/project.xcworkspace/xcshareddata/

we-split/WeSplit.xcodeproj/xcuserdata/gabs.xcuserdatad/xcschemes/

we-split/WeSplit.xcodeproj/project.xcworkspace/xcshareddata/

App/WeSplit.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

App/WeSplit.xcodeproj/xcuserdata/gabs.xcuserdatad/xcschemes/xcschememanagement.plist
